* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main > * {
  background-color: goldenrod;
  font-size: 3em;
  padding: 10px;
}

.grid {
  height: 80vh;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

/* Aplicando Media Queries */
@media (max-width: 600px) {

  div:nth-child(6) {
    background-color: aquamarine;
    /* grid-column-start: 2;
    grid-column-end: 3; */
    grid-column: 2 / 3;
    grid-row: 2 / 4; /* span 2 */
  }
  
  div:nth-child(10) {
    background-color: blueviolet;
    /* grid-column-start: 3;
    grid-column-end: 5; */
    grid-column: 3 / 5; /* span 2 */
  }
} 


main > div {
  display: flex;
  justify-content: center;
  align-items: center;
}